#Configuracion {
    width: 100%;
}

#Configuracion-menu {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 5em;
}

#Configuracion-menu .settings {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex: 1;
    padding: 2em 3em;
    color: white;
}

.ubicaciones-icon-big {
    height: 7em;
    width: 7em;
    padding: 1em;
}

.ubicaciones-icon-clickable {
    cursor: pointer;
    height: 5em;
    width: 5em;
    padding: 1em;
}

#Configuracion-menu #carSettings {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

#editUserForm {
    display: flex;
    flex-flow: column nowrap;
}

.formRow {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    padding: 1em;
    justify-content: space-around;
}

.formRow > label {
    display: flex;
    flex-flow: column nowrap;
}

.formRow > label > span {
    padding-bottom: 0.8em;
    font-size: 1.2em;
    color: #444;
}

.formRow > label > input {
    height: 1.7em;
    padding: 0px;
    border: #444 0px solid;
    border-bottom: #444 1px solid;
}

.formButton {
    display: flex;
    justify-content: center;
}

.formButton > button {
    width: 150px;
    height: 3em;
}