/* TEMPLATE */

#Landing {
	margin: 0;
	padding: 0;
	font: normal 16px sans-serif;
	color: #555;
}

ul.l,
nav.l {
	list-style: none;
}

a.l {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}

a.l:hover {
	opacity: 1;
}

a.btn.l {
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #4484CE;
	font-weight: 800;
	text-align: center;
}

hr.l {
	width: 250px;
	height: 2px;
	background-color: #4484CE;
	border: 0;
	margin-bottom: 80px;
}

section.l {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 125px 100px;
}

@media (max-width: 1000px) {
	section.l {
		padding: 100px 50px;
	}
}

@media (max-width: 600px) {
	section.l {
		padding: 80px 30px;
	}
}

section.l h3.title {
	color: #414a4f;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2.5em;
	margin-bottom: 35px;
	text-align: center;
}

section.l p {
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.l.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*-------------
 	Header
-------------*/

header.l {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 35px 100px 0;
}

header.l h2 {
	font-size: 2em;
	color: #fff;
}

header.l h2:hover {
	cursor: default;
}

header.l nav {
	display: flex;
}

header.l nav li {
	margin: 0 15px;
	font-size: 1.3em;
}

header.l nav li a:hover {
	color: #AAA !important;
}

header.l nav li:first-child {
	margin-left: 0;
}

header.l nav li:last-child {
	margin-right: 0;
}

@media (max-width: 1000px) {
	header.l {
		padding: 20px 50px;
	}
}

@media (max-width: 700px) {
	header.l {
		flex-direction: column;
		display: none;
	}
	header.l h2 {
		margin-bottom: 15px;
	}
}

/*----------------
 	Hero Section
----------------*/

.hero {
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #4484CE;
	z-index: -1;
}

.hero .background-image:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.hero h1 {
	font-weight: bold;
	font-size: 3.8em;
	margin-bottom: 0px;
}

.hero h3 {
	font-weight: normal;
	font-size: 28px;
	margin: 15px 0 40px;
}

.hero button.btn {
	padding: 20px 46px;
}

#enter_button {
	border: 0;
	width: 250px;
	text-transform: uppercase;
	font-size: 1.2em;
	padding: 1em 0;
	margin: 1em;
	color: white;
}

#enter_button:disabled {
	background-color: #0a537b !important;
	cursor: not-allowed;
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}
	.hero h1 {
		font-size: 48px;
	}
	.hero h3 {
		font-size: 24px;
	}
	.hero button.btn {
		padding: 15px 40px;
	}
}

@media (max-width: 600px) {
	.hero h1 {
		font-size: 30px;
	}
}

/*----------------------
 	Features Section
----------------------*/

.features {
	position: relative;
	background-color: #f7f7f7;
}

.features .grid li {
	padding: 0 30px;
	flex-basis: 25%;
	text-align: center;
}

.features .grid li i {
	font-size: 50px;
	color: #2196F3;
	margin-bottom: 25px;
}

.features .grid li h4 {
	color: #555;
	font-size: 1.7em;
	margin-bottom: 10px;
}

.features .grid li p {
	margin: 0;
}

.moduleLogo {
	width: 150px;
	height: 150px;
}

@media (max-width: 1250px) {
	.features .grid {
		padding: 0px;
	}
	.features .grid li {
		padding: 0px;
		flex-basis: 50%;
		margin-bottom: 65px;
	}
	.features .grid li:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: 700px) {
	.features .grid li {
		flex-basis: 100%;
	}
}

/*--------------------
 	Reviews Section
--------------------*/

.reviews {
	background-color: #fff;
}

.reviews .quote {
	text-align: center;
	width: 80%;
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 20px;
	padding: 0;
}

.reviews .author {
	font-size: 18px;
	margin-bottom: 50px;
}

.reviews .author:last-child {
	margin-bottom: 0;
}

@media (max-width: 1000px) {
	.reviews .quote {
		font-size: 20px;
	}
	.reviews .author {
		font-size: 16px;
	}
}

/*---------------------
 	Contact Section
---------------------*/

.contact {
	background-color: #f7f7f7;
}

/*-------------
 	Footer
-------------*/

footer.l {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
	margin-top: 0px;
}

footer.l p {
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 10px;
}

footer.l p a {
	color: #fff;
}

@media (max-width: 700px) {
	footer.l {
		padding: 80px 15px;
	}
}

/*-------------
 	Scroll Button
-------------*/

#topBtn {
	position: fixed;
	/* Fixed/sticky position */
	bottom: 2em;
	right: 2em;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #4484CE;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 1px;
	font-size: 30px;
}

#topBtn:hover {
	background-color: rgb(17, 104, 175);
	color: #AAA !important;
}

#linkDocumento {
	font-size: 1.6em;
	font-weight: bold;
}

.contenidoCentrado {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.5em;
	line-height: 2em;

}

.sectionPlanteamiento {
	height: 700px;
	background-image:linear-gradient(to right, rgba(62,97,116,0.9), rgba(62,97,116,0.9)), url('../../images/fondoPlanteamiento.jpg');
	background-size: cover;
	background-position: center;
	color: white;
}

.tituloW {
	color: white!important;
}

.txtCentrado { text-align: center; }

.sectionObjetivo {
	min-height: 600px;
	background-image:linear-gradient(to right, rgba(62,97,116,0.7), rgba(62,97,116,0.7)), url('../../images/autoOb.jpg');
	background-size: cover;
} 

.imagenSolucion { 
	width: 500px;
	height: 230px;
	margin-top: 20px;
	background: url('../../images/autoSolucion.png');
	background-size: cover;
	background-position: center;
}

.contenedorImagenes {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.checkEngine {
	width: 100px;
	height: 100px;
	background: url(../../images/checkEngine.png);
	background-size: cover;
}

.maps {
	width: 100px;
	height: 100px;
	background: url(../../images/maps.png);
	background-size: cover;
}

.imagenArquitectura {
	width: 1285px;
	height: 691px;
	background: url(../../images/arquitecturaSistema.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.contenidoAgenda {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	font-size: 1.5em;
	line-height: 2em;
}

.imagenAgenda {
	width: 400px;
	height: 320px;
	background: url(../../images/Agenda.png);
	background-size: cover;
	background-position: center -70px;
	background-repeat: no-repeat;
}

.listaAgenda {
	counter-reset: li; 
    list-style: decimal; 
}

.listaAgenda li {
	position: relative;
    display: block;
    padding: 0 .4em 0 2em;
    margin: .5em 0;
    background: #ddd;
    text-decoration: none;
    border-radius: .3em;	
}

.listaAgenda li:before {

	content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
	
}

.pops {
	position: absolute;
	width: 675px;
	left: calc(50% - 320px);
	top: 330px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 0 40px #424652;

}

.QR {
	width: 150px;
}

.sectionPruebas {
	min-height: 600px;
	background-image:linear-gradient(to right, rgba(62,97,116,0.7), rgba(62,97,116,0.7)), url('../../images/fondoPruebas.jpg');
	background-size: 50%;
	background-position: center;
	color: white!important;
} 

.sectionConclusiones {
	min-height: 600px;
	background-image:linear-gradient(to right, rgba(62,97,116,0.7), rgba(62,97,116,0.7)), url('../../images/fondoConclusiones.jpg');
	background-size: cover;
	background-position: center;
	color: white!important;
}

.sectionTFuturo {
	position: relative;
}

.imagenIOT {
	width: 500px;
	height: 256px;
	background-image: url('../../images/tFuturo.png');
	background-size: cover;
	position: absolute;
	right: 100px;
	bottom: 30px;
}

.descargarAPP {
	width: 150px;
	height: 150px;
	margin: 20px 0;
	background-size: cover;
	background-image: url('../../images/qrAPP.png');

}

.lineaAndroid {
	width: 250px;
	height: 2px;
	background-color: white;
	border: 0;
}

.blanco:hover {
	color: #fcf2d9
}

.blanco {
	color: white;
}

.despliegue { margin-top: 60px; }